.footer {
    background-color: $line-dark;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba($line-white, .1);
    color: rgba($line-white, 0.75);
    .nav {
        a {
            font-size: 16px;
            color: rgba($line-white, 0.75);
            &:hover {
                color: $line-theme;
            }
            + a {
                margin-left: 18px;
            }
        }
    }
}